* {
    color: #1e395e;
    font-size: 25px;
}

/* this class is used to update the page of the quiz. */
.hide {
    display: none;
}


body {
    background-color: #4979ff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
}

#hiScore {
    color: #9b0000; 
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
    display: block;
}

#timer {
    font-size: 100px;
}

h1 {
    color: #000000; 
    font-size: 75px;
}
h2 {
    color: #b90000; 
    font-size: 75px;
}

#question {
    color: #1976D2; 
}


#start-btn {
    background-color: #1976D2; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styling for each "view" page. */
#quizHome, #testingPage, #finalPage {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    max-width: 75%;
}

label {
    display: block; 
    margin-bottom: 10px; 
}

#save-btn, #home-btn {
    background-color: #1976D2; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

/* button effects */
#start-btn:hover, #save-btn:hover, #home-btn:hover {
    background-color: #0f4aa9; 
}
